.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid{
  /* border: 5px solid gray; */
  width: 400px;
  margin-left : 700px;
  margin-top: 300px;
}
.Box{
  border:2px;

}


/* .grid-line{
  
} */


.grid-box{
  background-color: #F1F1F1;
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  
}

.grid-box input{
  background-color: #F1F1F1;
  width: 100px;
  /* margin: 10px; */
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


.Box-row{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 30px;
}


